# Database Settings (Local Docker Compose)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=qems_dev

# Auth Settings
# In production, use `openssl rand -hex 32` to generate this securely
SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Environment / Feature Flags
DEBUG=True
ENVIRONMENT=development
